*{margin:0;padding:0;color:#fff;}
ul,ol,li{list-style:none}
a{text-decoration: none}
#header{
  height:60px;
  width:1200px;
  margin:0 auto;
  background:#10ade5;
}
#header>a,#header>ul>li{
  float:left;
}
body>div>ul>li>a{
  height:60px;
  line-height:60px;
}
#header h1{
  height:60px;
  width: 160px;
  background:url("../img/new_sprite.png") -200px -633px no-repeat;
}
#header i{
  display:inline-block;
  background:url(../img/ico.png) no-repeat -25px -807px;
  width: 9px;
  vertical-align:middle;
  height: 5px;
  line-height:16px;
  margin-left: 5px;
}
#header li:hover i{
  background:url(../img/ico.png) no-repeat -43px -807px;
}
.re{
  border:1px solid black;
  display:none;
  color:black;
}
#header>ul li:hover .re{
  display:block;
}