@charset "utf-8";
/*旧版题目录入*/
.form_list { margin: 0 auto; }
.form_list li { zoom: 1; }
.form_list li:after { content: ""; display: block; clear: both; }
.form_list li { margin-bottom: 10px; }
.form_list li .label { width: 90px; float: left; height: 30px; color: #666666; text-align: right; padding-right: 10px; }
.form_list li { margin-bottom: 10px; }
.form_list li .formL { float: left; }
.form_list li .formL label { width: 140px; font-size: 14px; display: inline-block; height: 30px; line-height: 30px; color: #666666; text-align: right; padding-right: 10px; }
.form_list li .formL label i { width: 12px; height: 12px; overflow: hidden; display: inline-block; background: url(../images/sprite.png) no-repeat -6px -283px; }
.form_list li .formR { float: left; }
.form_list li .formR .up_pic { height: 26px; }
.form_list li .formR .up_pic span { display: inline-block; width: 60px; height: 20px; background-color: #19b8ff; text-align: center; line-height: 20px; font-size: 12px; color: #FFF; border-radius: 2px; cursor: pointer; }
.form_list li .formR .up_pic em { font-size: 12px; color: #999999; margin-left: 10px; }
.form_list li .formR .altTxt { color: #ccc; margin-left: 10px; font-size: 12px; }
.form_list li .formR .fomr_p { font-size: 14px; color: #666666; }
.form_list li .formR .fomr_p span { vertical-align: middle; display: inline-block; }
.form_list li .formR .fomr_p label { margin-left: 10px; font-size: 12px; }
.form_list li .formR .fomr_p label input { margin-right: 6px; }

.form_list li .formR .fo_ap { position: relative; left: -44px; margin-top: 14px; }
.form_list li .formR .fo_ap .text_w { width: 160px; height: 26px; border-radius: 4px; }
.form_list li .formR .up_img { margin-top: 10px; padding-left: 40px; }
.form_list li .formR .up_img img { width: 70px; height: 70px; }
.form_list li .formR .text { width: 208px; height: 28px; font-size: 12px; line-height: 28px; }
.form_list li .formR .fous { position: absolute; top: 4px; left: 112px; font-size: 12px; color: #CCC; }
.form_list li .formR .role { cursor: pointer; margin-right: 30px; width: auto; font-size: 12px; color: #666666; }
.form_list li .formR .role input { margin-right: 5px; display: inline-block; vertical-align: middle; }
.form_list li .formR .chack { margin-right: 6px; }
.form_list li .formR .prompt { color: #666666; font-size: 12px; }
.form_list li .formR .prompt a { font-size: 12px; color: #0066cc; margin-left: 10px; display: inline-block; }
.form_list .tab_ul { display: none; padding-top: 0px; }
.form_list .sub_box .submitBtn { width: 110px; height: 30px; line-height: 30px; background: #ec0909; font-size: 12px; color: #fff; font-weight: bold; }
.form_list .sub_box .submitBtn:hover { background: #fc6f51; box-shadow: 0px -2px 0px #fc6f51 inset; }
.form_list .sub_box .st_link { width: 100px; height: 20px; line-height: 20px; background: #ffcccc; font-size: 12px; color: #fff; }
.form_list .sub_box .st_link:hover { background: #fc6f51; box-shadow: 0px -2px 0px #fc6f51 inset; }
.form_list .click_f { position: relative; }
.form_list .sc_type { width: 70px; color: #666; font-size: 12px; vertical-align: middle; display: inline-block; }
.form_list .sc_type input { margin-right: 6px; vertical-align: middle; display: inline-block; }

.box_data_list{*position:relative}
.box_data_list li{line-height:40px;position:relative;z-index:1}
.box_data_list li .species{width:118px;float:left;text-align:right;height:40px;line-height:40px;font-size:14px;color:#666;margin-right:10px}
.box_data_list li .species i{font-size:14px;color:#FF0000;vertical-align:middle;padding-right:4px}
.box_data_list li .word_box{float:left;line-height:40px;vertical-align:middle}
.box_data_list li .input_box{width:210px;height:22px;line-height:18px;background-color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;font-size:12px;vertical-align:middle;padding-right:30px;/*position:relative;*/ }
.box_data_list li .ok{background:url(../images/ok.png) no-repeat 224px 1px white}
 /*.box_data_list li .input_box_width{width:78px}*/
.box_data_list li .id_btn2{position:relative;left:0px;top:2px}
.box_data_list li .id_btn{width:70px;height:22px;line-height:22px;background:#f99;color:#fff;display:inline-block;text-align:center}
.box_data_list li .attention{width:188px;font-size:12px;color:#CCC;line-height:14px;padding-left:5px;display:inline-block;vertical-align:middle}
 /*.box_data_list li .attention_height{height:24px;line-height:24px;line-height:14px}*/
.box_data_list li .ahert{width:76px;height:30px;line-height:30px;border:#BABABA solid 1px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;color:#666;font-size:12px;float:left;vertical-align:middle;text-align:center;margin-left:20px;display:inline}
 /*.box_data_list li .input_box_height{width:80px}*/
.box_data_list .clear_height{height:104px;margin-bottom:10px}
.box_data_list .clear_height .upload .shup{width:72px;overflow:hidden}
.box_data_list .clear_height .upload .id{position:absolute;left:0px;top:0px}
.box_data_list .clear_height .upload .id_btn{display:inline-block;width:64px;height:22px;line-height:22px;background-color:#ff9999;color:#fff;text-align:center;font-size:12px;color:#888888}
 .box_data_list .clear_height .text2{width:258px;float:left;margin-left:0px;font-size:12px;color:#aaaaaa;line-height:18px}
.box_data_list .uploadf{width:506px;height:112px;float:left;position:relative;top:16px}
.box_data_list .uploadf .id{width:75px}
.box_data_list .uploadf span{width:72px;height:48px}
.box_data_list .uploadf span img{width:72px;height:48px}
.box_data_list .uploadf .description{width:270px;display:inline-block;font-size:12px;color:#ccc;height:69px;line-height:69px;margin-left:20px}
 .box_data_list .uploadf .id_btn{width:70px;height:22px;line-height:22px;background:#ff9999;color:#fff;display:block;text-align:center}
.box_data_list .box_select{width:410px;float:left;height:40px;line-height:40px;z-index:10}
.box_data_list .box_select label{font-size:12px;color:#666}
.box_data_list .box_select select{_margin-top:5px}
.box_data_list .box_select checkbox{_width:16px;_height:16px;_overflow:hidden}
.box_data_list .box_select .other{margin-left:14px;width:46px;height:24px;display:inline-block;*display:inline;*margin-left:0px;text-align:center;font-size:12px;font-weight:bold;cursor:pointer;color:#ec0909}
.box_data_list .box_select .other i{display:inline-block;border-width:4px;border-style:solid dashed dashed dashed;border-color:#cccccc transparent transparent transparent;width:0;height:0;overflow:hidden;margin-left:6px;vertical-align:middle;cursor:pointer}
.box_data_list .box_select .down{width:46px;display:block;float:left;position:absolute;right:0px;z-index:100;text-align:center}
.box_data_list .box_select .down li{height:24px;line-height:24px;background-color:#fff}
.box_data_list .listb{position:relative;z-index:1;overflow:visible}
.box_data_list .clear_height2{padding-top:10px;height:121px}
.box_data_list .clear_height2 .good{width:246px;height:92px}
.box_data_list .clear_height2 .good .me_good{width:234px;height:80px;font-size:12px;border:#ddd solid 1px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#fff;color:#111;line-height:18px}
 
.box_data_list .p_resecer{padding-left:130px;padding-bottom:20px}
.box_data_list_width360{width:360px}
.box_data_list_width360 .sub_script{display:inline-block;border-width:4px;border-style:solid dashed dashed dashed;border-color:#ccc transparent transparent transparent;width:0;height:0;overflow:hidden;margin-left:6px;vertical-align:middle;cursor:pointer}
 
.box_data_list .timu_cont{border-bottom:1px dashed #CCC;padding-bottom:10px;margin-bottom:10px}
.box_data_list .timu_cont textarea, .box_data_list .timu_cont label{font-size:16px;font-weight:bold;line-height:24px;background:none;border:none 0}/*第二页,题目*/
.box_data_list .timu_cont textarea{width:550px;height:auto;padding:0}


.p_reservation{width:124px;height:30px;line-height:30px;border:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background-color:#ba2f2f;font-size:14px;color:#fff;text-align:center;margin-top:6px}
.add_subQuestion{background-color:#ee4d4e}
.add_min_btn{background-color:#666}
.itemsMainBox{padding-left:120px}
.itemsMainBox .yingYong_b{border-bottom:1px dashed #ccc}
.timu{margin-bottom:10px}
.mamt_box .beixuan{margin-top:10px}
.tet_Bji{position:relative;margin-bottom:10px}
.tet_Bji_del,.Bji_del{position:absolute;top:0;left:450px;background:url(../images/sprite.png) no-repeat -370px -90px;width:18px;height:18px;display:inline-block;cursor:pointer}
.Bji_del{background:none;left:auto;right:0;width:40px;color:#f00}
.subquestion_del:hover{color:#000}
.c_subject .word_box .addPoint2{width:100px;height:30px;background-color:#ff9393;color:#FFF; margin:0}
.c_subject .word_box .sub_label{margin-right:30px;font-size:12px;color:#666}
.prompt{margin-bottom:10px}
.prompt03{text-align:center}

.muti_QA_Bar .muti_QA_list{position:relative;margin:10px 5px}
.muti_QA_Bar .muti_QA_list li{position:relative;background:#ddd;margin:10px 20px;padding:0 10px}
.muti_QA_Bar .muti_QA_list li .close{cursor:pointer;z-index:10;position:absolute;width:20px;height:20px;line-height:10px;top:10px;right:0px}

