@charset "utf-8";
/* CSS Document */

.homepage{background:url(../images/homepageBg.jpg) center top no-repeat;height:100%; background-size:cover}
.homepage .main{min-height:90%;height:700px}
.home_login{position:absolute;z-index:5;border-radius:5px;width:300px;height:300px;padding:30px; top:120px;right:15%;*width:290px;*height:360px}
.home_login h4{color:#00cacf;margin-bottom:20px;font-size:20px;font-weight:bold}
.home_loginBg{position:absolute;border-radius:5px;width:100%;height:100%; background:#fff;opacity:0.5;filter:Alpha(Opacity=50);top:0;left:0;box-shadow:2px 2px 2px #000;z-index:0}
.home_loginCont{position:relative;z-index:10}
.home_loginCont p{margin-bottom:20px}
.home_loginCont .text{background:#fff;padding:5px;border-radius:3px;width:170px}
.home_loginCont label{color:#666}
.home_loginCont img{vertical-align:middle;margin-left:10px}
.home_userInfo{position:relative;z-index:10;zoom:1}
.home_userInfo img{float:left;margin-right:20px}
.home_userInfo h2{float:left}
.home_userInfo .a_button{margin-top:50px; display:block}
.home_userInfo h5{margin-top:30px;font-size:16px;color:#666}
.home_userInfo p{font-size:16px;color:#999}

.footWrap{width:100%;height:50px;background:none;margin-bottom:50px}
.footWrap p{font-size:16px;color:#00cacf}

.terrace .terrace_ul {height: 40px;}
.terrace .terrace_ul li {float: left;margin-right: 20px;}
.terrace .terrace_ul li a {background-color: none;}




