@charset "UTF-8";
body{background:url(../images/background1.jpg) white no-repeat center top}

/*公用*/
.main_head{padding-left:20px;padding-top:76px}
.main_head h2, .main_head h3{position:relative}
.main_head h2 i, .main_head h3 i{width:15px;height:15px;background:url(../images/sprite.png) no-repeat -132px -92px;display:inline-block;margin-left:10px;vertical-align:middle}
.main_head h2 span, .main_head h3 span{font-size:14px}
.main_head .main_t{height:34px;line-height:34px;margin-bottom:10px}
.main_head .main_t span{font-size:24px;color:#fff}
.main_head .main_t input{position:absolute;top:7px;left:0;display:none}
.main_head .main_t .tInput{height:24px;width:40px;line-height:16px}
.main_head .Signature{font-size:14px;color:#fff}
.main_head .Signature input{position:absolute;top:0;left:0;display:none}

/*班级成员*/
.main_cent{width:1180px;margin:0 auto; min-height:700px}
.terrace_head{height:40px}
.class_list_min .class_Btn{ width:60px; height:24px; line-height:24px; color:#fff; background-color:#900}
.terrace .terrace_ul{height:40px}
.terrace .terrace_ul li{float:left;margin-right:20px}
.terrace .terrace_ul li a{background-color:none}
.terrace .detail{margin-left:62px;display:inline}
.terrace .userCenter_R{float:right}
.main_c{ border:#6face3 solid 1px;border-radius:2px;background-color:#FFF;position:relative;padding:15px 45px; margin-bottom:30px}
.main_c .class_listi h3{ width:100px;font-size:18px;height:60px;line-height:60px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis; margin-bottom:20px;}  
.main_c h4{ float:left; height:56px; line-height:56px;}
.main_c .class_list_min .list .dd_fz{ height:30px; line-height:30px;}
.main_c .selectBox{position:absolute;top:26px;right:185px}
.main_c .addBtn{position:absolute; right:40px; top:12px}
.main_c .centLeft{float:left;width:710px;overflow:hidden;padding:10px 0 55px 0}
.main_c .centLeft .text{width:120px;height:30px;line-height:30px;border:#CCC solid 1px}
.main_c .centRight{float:right;width:260px;margin-top:30px;padding:20px;background-color:#efefef; overflow:hidden;padding-bottom:30px}
.main_c .centRight .centRightT{margin-bottom:20px}
.main_c .centRight .centRightT .more{position:absolute;top:2px;right:10px;font-size:12px;color:#999}
.main_c .centRight .centRightT h3{ height:30px; line-height:30px; text-indent:10px;font-size:16px}
.main_c .centRight .centRightT .class_list{padding-top:20px;margin-right:-20px}
.main_c .centRight .centRightT .class_list li{width:70px;height:70px;float:left;margin-right:16px;margin-bottom:14px}
.main_c .centRight .centRightT .class_list li img{border-radius:35px;width:70px;height:70px}
/*学校首页*/
.centLeft .schoolTile{margin-top:30px; position:relative; margin-bottom:20px;}
.centLeft .schoolTile dt{float:left;width:110px;height:110px}
.centLeft .schoolTile dd{float:left;width:560px;line-height:30px;height:30px;margin-left:20px;display:inline-block}
.centLeft .schoolTile dd span{overflow:hidden;display:inline-block;font-size:14px;color:#333;margin-right:20px}
.centLeft .schoolTile .sc_edit h3{position:relative;cursor:pointer; height:30px; line-height:30px;}
.centLeft .schoolTile .sc_edit h3 span{width:auto;font-size:18px;margin-right:0;color:#06c;display:inline-block}
.centLeft .schoolTile .sc_edit h3 i{width:18px;height:18px;background:url(../images/sprite.png) no-repeat -132px -92px;display:inline-block;position:relative;top:-4px;left:0;margin-left:10px}
.centLeft .schoolTile .sc_edit h3 .sc_text{position:absolute;left:0;top:0;height:20px;display:none}
.centLeft .sc_introduce h3{line-height:40px;height:40px;font-size:18px;color:#000}
.centLeft .sc_introduce .sc_pic{width:780px;height:170px;overflow:hidden}
.centLeft .sc_writing{line-height:20px;color:#333;font-size:14px;padding-top:12px;text-indent:24px;border-bottom:#ccc dashed 1px;padding-bottom:14px}
.centLeft .sc_writing a{color:#06c}
.centLeft .sc_writing h4{font-size:18px;color:#333;height:50px;line-height:50px;float:none}
.centLeft .sc_writing h4 em{font-size:18px}
.centLeft .sc_writing dl dt{font-size:14px;color:#333}
.centLeft .sc_writing dl dd{line-height:26px;font-size:14px;color:#333;padding-left:12px}
.centLeft .sc_enroll{border-bottom:none}
.centLeft .sc_enroll dl{font-size:14px;color:#333}
.centLeft .sc_enroll dl dt{float:left;height:72px;padding-left:44px;width:75px}
.centLeft .sc_enroll dl dd{float:left;width:630px;line-height:23px;height:23px}
.centLeft .sc_enroll dl dd span{margin-right:50px}

.centRight .sc_ivo{width:240px;height:210px;overflow:hidden;margin-top:10px}

/*学校--编辑学校信息*/
.edit_title{width:1076px;margin:0 auto;height:35px;margin-top:28px}
.edit_title .edit_list{border-bottom:#ddd solid 1px;height:38px}
.edit_title .edit_list li{float:left;height:38px;line-height:38px;text-align:center;padding:0 16px;cursor:pointer}
.edit_title .edit_list .beforeOne{border:#ddd solid 1px;border-bottom:none;background-color:#f4f4f4;color:#19b8ff}

.sc_manage{padding:10px 0 0px 26px}
.sc_manage dt{font-size:16px;color:#333;height:24px;line-height:24px}
.sc_manage dd{padding:5px 20px;padding-bottom:0}
.sc_manage dd p{float:left}
.sc_manage dd .sc_type{color:#333;font-size:14px}
.sc_manage dd .sc_type span{font-size:12px;color:#666;margin-right:16px}
.sc_manage dd .sc_typeZu{margin-bottom:14px}
.sc_manage dd .sc_typeZu .button_btn{width:80px;background-color:#896dcf}
.sc_manage dd .sc_typeZu span{display:none;position:relative}
.sc_manage dd .sc_typeZu span .text_Width{width:142px;height:26px}
.sc_manage dd .sc_typeZu span .btn_style{width:60px;background-color:#ee4d4e}
.sc_manage hr{margin-top:40px}

.conserve{text-align:center;margin-top:18px}
.conserve .B_btn110{width:100px;height:30px;line-height:30px;background:#fc6f51;font-size:12px;color:#fff;border-radius:4px;font-size:12px;box-shadow:0px -2px 0 #fc6f51  inset}
.conserve .B_btn110:hover{background:#fc6f51;box-shadow:0px -2px 0 #fc6f51 inset}

/*js生成的下拉列表的样式*/
.pitc_box{float:left;margin-right:12px}
.pitc_box span{cursor:pointer}

.bitc{float:left;margin-right:12px;font-size:12px;color:#666}

.js_box{width:658px;height:50px;line-height:50px;border:#ccc solid 1px;background-color:#efefef;padding:0px 13px;position:relative}
.js_box .triangle{position:absolute;width:22px;height:16px;background:url(../images/sprite.png) no-repeat -6px -465px;left:44px;top:-14px}
.js_box p{float:left}
.js_box .new_found span{font-size:12px;color:#666;margin-right:30px}
.js_box .new_found span i{padding-left:4px}
.js_box .btn_new .button_btn{margin-right:10px;width:80px;height:30px;text-align:center;line-height:30px;font-size:12px;color:#FFF;background-color:#896dcf;border-radius:4px;cursor:pointer}
.js_box .text_span_box{height:40px;display:inline-block;line-height:40px}
.js_box .text_span_box .text{width:92px;height:26px;margin-right:10px}

.sc_type{position:relative}

.pitc_box{position:absolute;left:10px;top:10px}



/*new编辑学校信息*/
.sc_manage dd{position:relative;margin-bottom:10px}
.sc_manage dd hr{*margin:0}
.sc_manage dd div{float:left}
.sc_manage dd .b_jq_number{display:block;width:100%}

.sc_manage{margin-bottom:10px}
.sc_manage .takeL strong{font-size:14px;color:#333;font-weight:normal}
.sc_manage .takeC{color:#999;font-size:12px;width:550px;margin-left:4px;position:relative;z-index:10}
.sc_manage .takeC .tack_box{margin-right:40px;/*position:relative;*/ margin-bottom:10px}
.sc_manage .takeC .tackL{position:relative;z-index:10;cursor:pointer}
.sc_manage .takeC .tackL i{width:12px;height:12px;display:inline-block;vertical-align:middle;background:url(../images/sprite.png) -6px -466px no-repeat;margin-left:2px}
.sc_manage .takeC .tackL .triangle{position:absolute;width:22px;height:18px;background:url(../images/sprite.png) no-repeat -6px -465px;left:4px;top:16px;display:inline-block}
.sc_manage .takeC{position:relative;z-index:100}
.sc_manage .takeC .add_class{width:665px;padding:10px 16px;min-height:40px;background-color:#efefef;border:#ccc solid 1px;position:relative;top:-12px;left:4px;z-index:10;margin-top:12px;margin-bottom:22px;}
.sc_manage .takeC .add_class .addL, .sc_manage .takeC .add_class .addR{float:left}
.sc_manage .takeC .add_class .addL{font-size:12px;color:#666;margin-right:20px;width:530px}
.sc_manage .takeC .add_class .addL em{margin-right:4px}
.sc_manage .takeC .add_class .addL .add_name{margin-right:10px}
.sc_manage .takeC .add_class .addR{width:300px;float:right}
.sc_manage .takeC .add_class .addR .takeR_btn{width:80px;height:30px;background-color:#896dcf;text-align:center;line-height:30px;font-size:12px;color:#FFF;cursor:pointer;border-radius:4px}
.sc_manage .takeC .add_class .addR .span_hide{position:relative;left:10px;z-index:20}
.sc_manage .takeC .add_class .addR .span_hide .text_Width{width:60px;margin-right:10px;background-color:#FFF}
.sc_manage .takeC .add_class .addR .span_hide button{width:60px;background-color:#ee4d4e;margin-right:4px}
.sc_manage .takeC .add_class .addR .span_hide .btn_cancel{background-color:#999}
.sc_manage .takeR{width:398px;z-index:100;position:absolute;top:0;right:0;*position:static;*float:right;*position:relative;*top:-24px}
.sc_manage .takeR .takeR_btn{width:80px;height:30px;background-color:#896dcf;text-align:center;line-height:30px;font-size:12px;color:#FFF;cursor:pointer;border-radius:4px;float:right;margin-right:18px;display:inline}
.sc_manage .takeR .span_hide{position:relative;left:18px;background-color:#FFF;display:none;height:30px}
.sc_manage .takeR .span_hide .text_Width{width:140px}
.sc_manage .takeR .span_hide button{width:60px;background-color:#ee4d4e;margin-right:4px}
.sc_manage .takeR .span_hide .btn_cancel{background-color:#999}

.edit_Div .form_list li .formR .up_pic .up_img{padding-left:140px}

/*学校-班级列表页*/
.class_listi .class_t{width:1078px;margin:0 auto;height:50px;line-height:50px;border-bottom:#ccc solid 1px;margin-top:16px}
.class_listi .class_t span{float:left;font-size:18px;color:#000}
.class_listi .class_t a{float:right;text-align:center}
.class_listi .class_list_min{width:1078px;margin:0 auto;overflow:hidden}
.class_listi .class_list_min .class_list_t{margin-top:11px}
.class_listi .class_list_min .class_list_t p{float:left}
.class_listi .class_list_min .class_list_t .classL .classify, .class_listi .class_list_min .class_list_t .classL label{display:inline-block;font-size:14px;color:#666;vertical-align:middle}
.class_listi .class_list_min .class_list_t .classL label input{margin-left:10px;margin-right:6px}
.class_listi .class_list_min .class_list_t .classR{margin-left:30px;height:40px;line-height:26px}
.class_listi .class_list_min .class_list_t .classR .classify{padding-left:10px}
.class_listi .s_class_list{margin-top:18px;margin-right:-200px}
.class_listi .s_class_list .list{float:left;width:508px;margin-right:50px;margin-bottom:50px}
.class_listi .s_class_list .list dt{width:110px;height:110px;overflow:hidden;margin-right:10px;float:left}
.class_listi .s_class_list .list dd{float:left;width:378px;position:relative;height:18px;line-height:18px;font-size:12px;color:#666}
.class_listi .s_class_list .list .dd_fz{height:30px;line-height:30px}
.class_listi .s_class_list .list .dd_fz h3{font-size:16px;color:#333;float:left;width:190px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.class_listi .s_class_list .list .dd_fz span{position:absolute;top:-2px;right:0;margin-right:0;font-size:0}
.class_listi .s_class_list .list .dd_fz span a{height:30px;line-height:30px;float:left;text-align:center;border-radius:4px;color:#FFF;font-size:12px}
.class_listi .s_class_list .list .dd_fz .addthis{width:70px;background-color:#63cfff;position:relative;right:-1px;border-top-right-radius:0;border-bottom-right-radius:0}
.class_listi .s_class_list .list .dd_fz .applyFor{background-color:#19b8ff;width:100px;border-top-left-radius:0;border-bottom-left-radius:0}
.class_listi .s_class_list .list dd span{margin-right:4px}
.class_listi .s_class_list .list dd em{margin-right:22px}
.class_listi .s_class_list .list dd em i{color:#999}
.class_listi .s_class_list .list .sRight span{margin-right:20px}

/*学校---教研组*/
.graduate_list{height:176px;width:1020px;border-bottom:#ccc dashed 1px;margin-bottom:12px}
.graduate_list dl{float:left;width:280px;overflow:hidden;margin-right:60px}
.graduate_list dl dt{height:32px}
.graduate_list dl dt h4{color:#333;font-size:16px}
.graduate_list dl dd{line-height:24px;height:24px;font-size:12px;color:#666}
.graduate_list dl dd span{margin-right:12px}
.graduate_list dl dd em{margin-left:4px}

.class_listi .title{font-size:12px; width:590px; line-height:56px; display:inline-block; height:56px; margin-left:10px;}
.class_listi .title a{font-size:12px;color:#06c; margin-right:10px;}

/*学校---招生简章*/
.sc_guide .sc_guide_list{border-bottom:#CCC solid 1px;overflow:hidden;margin-bottom:15px;padding-bottom:10px}
.sc_guide .sc_guide_list dt{float:left}
.sc_guide .sc_guide_list dt a{width:110px;height:110px;display:inline-block}
.sc_guide .sc_guide_list dd{float:left;line-height:24px;font-size:12px;color:#666;margin-left:10px;width:738px;display:inline}
.sc_guide .sc_guide_list dd h5{font-size:16px}
.sc_guide .sc_guide_list dd h5 a{color:#06c}
.sc_guide .sc_guide_list dd h5 .edit{margin-left:22px;font-size:12px}

.selectBox{float:right;position:relative;top:6px}
.selectBox span{line-height:26px}

/*学校-招生简章详情页*/
.sc-txt{font-size:12px;color:#666;border-bottom:#999 dotted 1px;padding-bottom:30px}
.sc-txt h3, .sc-txt .teacher{text-align:center;margin-top:6px}
.sc-txt h3 em, .sc-txt .teacher em{color:#999;margin-left:10px}
.sc-txt .teacher{color:#06c}
.sc-txt h3{margin-top:20px;color:#000}
.sc-txt dd{padding-left:10px}
.sc-txt dd li{padding-left:10px}

.pege{height:40px;line-height:40px}
.pege span{font-size:12px}
.pege span em{color:#333}
.pege span a{color:#06c;margin-left:10px}
.pege .pege_left{float:left}
.pege .pege_right{float:right}

.school{text-indent:24px}

/*学校-添加招生简章列表*/
.school_cent{background-color:#f8f8f8}

.head_add{background:url(../images/slide02.jpg) no-repeat left center;height:192px;overflow:hidden}
.head_add .school_add{margin-top:38px;padding-left:128px}
.head_add .school_add dt{width:154px;height:154px;float:left;overflow:hidden;margin-right:18px}
.head_add .school_add dt img{width:154px;height:154px;border-radius:82px}
.head_add .school_add dd{float:left;width:800px;color:#ccc}
.head_add .school_add .school_dd{height:38px;line-height:38px}
.head_add .school_add .school_dd span{font-size:24px}
.head_add .school_add .school_dd em{font-size:16px;margin-left:4px;margin-right:44px}
.head_add .school_add .school_dd i{width:30px;height:35px;background:url(../images/n.png) no-repeat -40px 1px;display:inline-block;vertical-align:middle}
.head_add .school_add .school_list{color:#fff;height:34px;line-height:34px}
.head_add .school_add .school_list i{width:15px;height:15px;display:inline-block;cursor:pointer;margin-left:10px;vertical-align:middle;background:url(../images/sprite.png) no-repeat -132px -93px}
.head_add .school_add .school_z{height:54px}
.head_add .school_add .school_z div{float:left}
.head_add .school_add .school_z .pic{width:40px;height:40px;overflow:hidden;margin-right:6px}
.head_add .school_add .school_z .title{position:relative;top:-6px}
.head_add .school_add .school_z .title h3{font-size:12px;color:#999}
.head_add .school_add .school_z .title h4 a{font-size:20px;color:#f33}
.head_add .school_add .namenot{line-height:18px}
.head_add .school_add .namenot span{margin-right:8px;color:#fff}
.head_add .school_add .namenot .blue{color:#06c}

.school_nav .cuide{float:left}
.school_nav .cuide a{color:#666;font-size:14px}
.school_nav .cuide .shoool_this{color:#06c}

.add_x .addRight{height:400px;background-color:#fff;}
.add_x .addRight h3{height:50px;line-height:50px;padding-left:0}
.add_x .addRight .formR button{width:110px;background-color:#fc6f51;margin-right:10px}
.add_x .addRight .formR .btn_gray{background-color:#999}
.add_x .addRight .form_list{padding-left:100px; padding-top:10px;}

/*录取分数线*/
.fraction{margin-bottom:30px}
.fraction h4{height:60px;line-height:60px}
.fraction .tab{width:1060px}
.fraction .tab tr{border-bottom:#CCC dashed 1px}
.fraction .tab tr td{height:35px;padding:0 18px;text-align:center}
.fraction .tab tr td i{width:12px;height:12px;margin-left:2px;cursor:pointer;background:url(../images/sprite.png) no-repeat -134px -132px;display:inline-block}
.fraction .head_color, .fraction .year{background-color:#f1f1f1}

/*教师列表*/
.teacher_t .teacherList{padding-left:26px;width:500px;margin-bottom:20px;overflow:hidden;padding-bottom:20px}
.teacher_t .teacherList dt{width:110px;height:110px;float:left;overflow:hidden}
.teacher_t .teacherList dt img{border-radius:66px}
.teacher_t .teacherList dd{float:left;margin-left:10px;display:inline}
.teacher_t .teacherList dd .school_t td{text-align:left;color:#666;font-size:12px}
.teacher_t .teacherList dd .school_t .name{color:#333;font-size:16px}
.teacher_t .teacherList dd .edit{position:relative}
.teacher_t .teacherList dd .edit i{width:15px;height:16px;vertical-align:middle;margin-left:10px;background:url(../images/sprite.png) no-repeat -132px -92px;display:inline-block}
.teacher_t .class_listi .class_list_min .class_list_t .classR{margin-left:4px}

/*后台添加的样式*/
.class_listi .class_list_min .class_list_t .classR{margin-left:4px}
