@charset "UTF-8";
/*背景图片样式*/
body{background:url(../images/background2.jpg) #efce89 no-repeat center top}

/*公用*/
.main_head{padding-left:20px;padding-top:76px}
.main_head h2, .main_head h3{position:relative}
.main_head h2 i, .main_head h3 i{width:15px;height:15px;background:url(../images/sprite.png) no-repeat -172px -92px;display:inline-block;margin-left:10px;vertical-align:middle}
.main_head h2 span, .main_head h3 span{font-size:14px}
.main_head .class_t{height:34px;line-height:34px;margin-bottom:10px}
.main_head .class_t span{font-size:24px;color:#0b447b}
.terrace_head{height:40px}
.terrace .terrace_ul{height:40px}
.terrace .terrace_ul li{float:left;margin-right:20px}
.terrace .terrace_ul li a{background-color:none}
.terrace .detail{margin-left:64px;display:inline}
.terrace .userCenter_R{float:right}

/*教研资料--上传视频*/
.uploadVedioList .del{cursor:pointer;margin:0 10px}
.uploadVedioList .classesTable table{width:100%;margin:20px 0;background:#f8f8f8;border:10px solid #f8f8f8}
.uploadVedioList .classesTable table th{border-bottom:1px solid #ccc;padding:5px}
.uploadVedioList .classesTable table td{padding:10px 5px;border-bottom:1px dashed #ccc;vertical-align:top}
.uploadVedioList .classesTable table .Valign{/*vertical-align:middle*/}
.uploadVedioList .classesTable table .delBtn{color:#ccc;cursor:pointer}
.uploadVedioList .classesTable table .delBtn:hover{color:#f00;text-decoration:underline}
.uploadVedioList .classesTable table .pointArea{width:200px}
.uploadVedioList .classesTable table .text{width:200px}
.uploadVedioList .classesTable table label{font-size:12px}
.uploadVedioList h6{color:red}
.uploadVedioList ul{font-size:12px;margin-top:10px}
.uploadVedioList ul li{color:#09C;line-height:18px;margin:0;margin-bottom:3px}
.uploadVedioList .sel_teacher span{font-size:20px;color:#06c}
.uploadVedioList .sel_teacher .btn{background:#00cacf;color:#fff;height:20px;line-height:20px;font-size:12px}
.uploadVedioList .sel_teacher .btn:hover{background:#06c}
.uploadVedioList .labelList{margin-top:5px}
.uploadVedioList .labelList li{float:left;padding:0 5px;height:20px;line-height:20px;background:#06F;color:#fff;margin-left:3px}
.uploadVedioList .addDocBtn, .uploadVedioList .addVideoBtn{width:80px;height:20px;line-height:20px;background:#57c077;font-size:12px;color:#fff; display:inline-block;}
.uploadVedioList .addDocBtn:hover, .uploadVedioList .addVideoBtn:hover{background:#fc6f51;box-shadow:0 -2px 0 #fc6f51 inset;text-decoration:underline}
.uploadVedioList .addVideoBtn{background:red}
.uploadVedioList .addClassesBtn{width:100px;height:30px;line-height:30px;background:#f90;font-size:12px;color:#fff;float:right}
.uploadVedioList .addClassesBtn:hover{background:#fc6f51;box-shadow:0 -2px 0 #fc6f51 inset}

/*教研资料--上传资料*/
/*.upDataList{
	.addPointBtn{@include btn30($background:#ccc)} .pointArea{ margin-top:10px;} .pointArea h5{ color:red;} .labelList li{float:left;padding:3px 6px;background:#0099cc;color:#fff;line-height:18px;font-size:12px;margin:0 10px 10px 0;} 
}*/
/*班级成员*/
.main_cent{width:1180px;margin:0 auto;/*padding-top:90px*/}
.centLeft .notice .group h3{ line-height:none; height:auto;}
.wc_title{ *height:52px;}
/*本班大事记*/
.class_c{border:#6face3 solid 1px;padding:30px 50px;min-height:200px;border-radius:2px;background-color:#FFF;margin-bottom:30px}
.class_c .centLeft{float:left;width:740px;overflow:hidden;position:relative;padding:0 0 55px 0}
/*.class_c .centLeft h3{height:50px;line-height:50px}*/
.class_c .centLeft .outAdd_btn{position:absolute;top:20px;right:0}
.class_c .centLeft .text{width:120px;height:30px;line-height:30px;border:#CCC solid 1px}
.class_c .centRight{float:right;width:260px;padding:0 10px;background-color:#efefef;overflow:hidden;padding-bottom:30px; position:relative; left:20px;}
.class_c .centRight .centRightT{width:260px}
.class_c .centRight .centRightT h3{color:#000;padding-top:20px;cursor:pointer}
.class_c .centRight .centRightT h3 span{float:left;font-size:18px}
.class_c .centRight .centRightT h3 span i{width:16px;height:16px;background:url(../images/sprite.png) no-repeat -132px -92px;display:inline-block;vertical-align:middle;position:relative;left:5px}
.class_c .centRight .centRightT h3 a{float:right;font-size:12px}
.class_c .centRight .centRightT hr{margin-top:9px}
.class_c .centRight .centRightT .class_list{padding-top:20px;margin-right:-20px;margin-left:10px}
.class_c .centRight .centRightT .class_list li{width:70px;height:70px;float:left;margin-right:18px;margin-bottom:14px}
.class_c .centRight .centRightT .class_list li img{border-radius:35px;width:70px;height:70px}
.class_c .centRight .centRightT dl{width:124px;height:90px;padding-top:18px;float:left;margin-left:6px}
.class_c .centRight .centRightT dl dt{float:left;width:70px;height:70px}
.class_c .centRight .centRightT dl dt img{width:70px;height:70px}
.class_c .centRight .centRightT dl dd{line-height:18px;float:left;width:48px;font-size:12px;padding-left:5px}
.class_c .centRight .centRightT dl dd h3{padding:0}
.class_c .centRight .centRightT dl dd h3 a{width:48px;color:#333;font-size:14px;text-align:left;display:inline-block}
.class_c .centRight .centRightT a{color:#666}
.class_c .centRight .centRightT a:hover{text-decoration:none}

/*大事迹--时间轴*/
.class_B{width:640px;padding-bottom:20px;border-left:#ff8282 solid 4px;position:relative;top:0px;left:100px}
.class_B .class_time dt{height:28px;position:relative;padding-bottom:10px}
.class_B .class_time dt span{font-size:14px;color:#000;position:absolute;left:-97px;top:8px}
.class_B .class_time dt span i{width:16px;height:16px;background:url(../images/sprite.png) no-repeat -92px -92px white;display:inline-block;vertical-align:middle;position:relative;left:5px}
.class_B .class_time dt h4{padding-left:28px;position:absolute;width:100%;top:8px;font-size:16px;cursor:pointer;/*听课评课-----添加的按钮*/ }
.class_B .class_time dt h4 a{width:120px;overflow:hidden; color:#ff8282;display:inline-block;white-space:nowrap;text-overflow:ellipsis}
.class_B .class_time dt h4 a em{ font-size:14px;}
.class_B .class_time dt h4 i{width:16px;height:16px;background:url(../images/sprite.png) no-repeat -132px -92px;display:inline-block;vertical-align:middle;position:relative;left:5px; top:-8px;}
.class_B .class_time dt h4 .time{color:#999;margin-top:10px;margin-left:20px;font-size:12px;color:#999; position:relative; top:-8px;}
*.class_B .class_time dt .btn_box{ position:absolute; right:0; top:5px} 
.class_B .class_time dd{padding-left:28px;font-size:12px;color:#333;line-height:18px}
.class_B .class_time .classPic{margin-top:10px}
.class_B .class_time .classPic span{width:70px;height:70px;display:inline-block;margin-right:10px}
.class_B .class_time .classPic span img{width:70px;height:70px}

.class_Box{position:relative;top:-10px}

.addMore{height:63px;width:64px;border-left:#ff8282 solid 4px;position:relative;left:100px}
.addMore span{height:40px; width:40px;cursor:pointer;position:absolute;left:-22px;top:0px;font-size:12px;color:#000;background:url(../images/sprite.png) no-repeat -40px -320px #fff; text-indent:-9999px; overflow:hidden}

/*班级首页*/
.centLeft .centDl{width:790px;padding-top:34px}
.centLeft .centDl .pic{width:110px;height:110px;overflow:hidden;float:left;padding-right:15px}
.centLeft .centDl .class_nb{float:left;width:652px}
.class_nb h3{width:100%;height:30px;cursor:pointer}
.class_nb h3 p{height:28px;font-size:18px;color:#000;position:relative}
.class_nb h3 .classFocus{height:18px;line-height:18px;display:inline-block}
.class_nb h3 .class_btn{width:15px;height:15px;vertical-align:middle;display:inline-block;background:url(../images/b.png) no-repeat left center;margin-left:12px}
.class_nb h3 i{font-size:14px;color:#06c;margin-left:10px}
.class_nb h3 .text_block{position:absolute;left:0px;top:4px;width:100px;height:20px}
.class_nb h3 .c_more{float:right;vertical-align:middle;color:#000;display:inline-block;font-size:12px}
.centLeft .centDl .h3_border{border-bottom:#CCC 1px dashed;padding-bottom:10px}
.centLeft .centDl .class_list{height:42px;line-height:42px}
.centLeft .centDl .class_list li{float:left;color:#333;font-size:14px;margin-right:30px}
.centLeft .centDl .class_list li span{float:left}
.centLeft .centDl .class_list li em{float:left;margin-right:6px}
.centLeft .centDl .class_Compile{padding-top:6px;padding-bottom:10px}
.centLeft .centDl .class_Compile li{position:relative;float:left;margin-right:14px;cursor:pointer;line-height:30px}
.centLeft .centDl .class_Compile li span{font-size:14px;color:#333;width:180px;display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.centLeft .centDl .class_Compile li i{width:15px;height:15px;vertical-align:middle;display:inline-block;background:url(../images/b.png) no-repeat left center;margin-left:6px}
.centLeft .centDl .class_Compile li .txtCompile{width:140px;position:absolute;top:5px;left:0px;display:none}
/*.centLeft .notice{width:740px;overflow:hidden}*/
/*.centLeft .notice .noticeB{ border-bottom:#CCC solid 1px; padding-bottom:10px;}*/
.centLeft .onceBox{margin-right:-100px;padding-bottom:20px}
.centLeft .once{width:352px;height:94px;float:left;margin-top:18px;margin-right:50px}
.centLeft .once dt{float:left;width:120px;height:90px;overflow:hidden}
.centLeft .once dd{width:218px;float:left;margin-left:10px;line-height:22px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline;color:#666;font-size:12px}
.centLeft .once dd h4{height:28px;line-height:18px;color:#333;width:218px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:16px}
.centLeft .once dd i{padding-right:10px}
.centLeft .once dd .once_aBtn{width:60px;height:20px;line-height:20px;font-size:12px;color:#FFF;background-color:#00cacf;border-radius:4px;text-align:center;display:inline-block}
.centLeft .once dd .once_Blue{background-color:#57c077}
.centLeft .once dd .j_link:hover{text-decoration:underline}
.centLeft .onceBox h5{font-size:16px;color:#333;padding-top:15px;width:786px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.centLeft .onceBox .plan{font-size:12px;color:#333}
.centLeft .onceBox .btn_margin{margin-top:20px}
.centLeft .onceBox .once_width{width:210px;margin-right:86px;margin-top:4px}
.centLeft .onceBox .once_width dd{width:66px}
.centLeft .onceBox .once_width dd .once_aBtnRed{background-color:#fc6f51}
.centLeft .once_list li{width:710px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;height:30px;line-height:30px}
.centLeft .once_list li a{font-size:16px;color:#333}
.centLeft .once_list li a:hover{text-decoration:underline}

.centRight .centRightT{text-align:center;/*课程表*/ /*我的课程表*/ }
.centRight .centRightT .title{text-align:center;height:50px;line-height:56px;position:relative;cursor:pointer}
.centRight .centRightT .title span{font-size:18px;color:#000}
.centRight .centRightT .title i{width:16px;height:16px;display:inline-block;vertical-align:middle;background:url(../images/b.png) no-repeat left center;margin-left:10px}
.centRight .centRightT .text_w{position:absolute;left:0px;top:14px;display:none}
.centRight .centRightT .titleLeft{text-align:left}
.centRight .centRightT .cl_box .clt{padding-top:16px}
.centRight .centRightT .cl_box .clt .timer{width:48px;height:auto;color:#06c;font-size:14px;float:left}
.centRight .centRightT .cl_box .clt p{width:196px;float:left;font-size:14px;text-align:left}
.centRight .centRightT .cl_box .clt p .time{font-size:12px;color:#666}
.centRight .centRightT .cl_box .describe p{font-size:12px;color:#666;line-height:18px;text-align:left;padding-left:6px}
.centRight .centRightT .cl_box .describe .desc_list{margin-top:20px}
.centRight .centRightT .cl_box .describe .desc_list li{float:left;width:40px;height:40px;margin-right:20px}
.centRight .centRightT .date{width:240px;overflow:hidden;position:relative}
.centRight .centRightT .date .name{height:20px;line-height:20px}
.centRight .centRightT .date .title li{height:30px;line-height:30px;width:100%;text-align:center;color:blue;position:relative}
.centRight .centRightT .date .title li .prev{position:absolute;left:0;top:0}
.centRight .centRightT .date .title li .next{position:absolute;right:0;top:0}
.centRight .centRightT .date .week{height:30px}
.centRight .centRightT .date .week li{float:left;width:34px;height:30px;line-height:30px;font-size:12px;text-align:center}
.centRight .centRightT .date .dayList{overflow:hidden;clear:both}
.centRight .centRightT .date .dayList li{float:left;width:34px;height:30px;line-height:30px;text-align:center;list-style:none;color:#ccc}
.centRight .centRightT .date .dayList li.red{background:#F90;color:#000}
.centRight .centRightT .date .dayList li.sun{color:#f00}
.centRight .centRightT .date .title{padding-top:14px}
.centRight .centRightT .date .title li span{color:#06c}

.class_c .centRight .centRightT .list_dl{width:260px}
.class_c .centRight .centRightT .list_dl dt{width:90px;height:90px;float:left;margin-right:10px}
.class_c .centRight .centRightT .list_dl dt img{width:90px;height:90px}
.class_c .centRight .centRightT .list_dl dd{float:left;width:148px;text-align:left}
.class_c .centRight .centRightT .list_dl dd h3{margin-bottom:10px}

#abc i{border-style:dashed dashed solid dashed;border-color:transparent transparent #ccc transparent;border-width:4px;width:0;height:0;overflow:hidden}

/*教研组主页*/
/*.tch .noticeH{width:740px;height:50px;line-height:50px;margin-top:10px}
.tch .noticeH h4{border:none;height:auto;float:left;line-height:30px;padding:0}
.tch .noticeH .a_rl{float:right}
.tch .noticeH .a_rl:hover{text-decoration:underline}*/
.tch .group{border-bottom:#ccc dotted 1px}
.tch .group a{font-size:12px;color:#000}
.tch .notice_width{width:auto;border-bottom:#ccc 1px solid;padding-bottom:10px;margin-bottom:18px}
.tch .notice_width li{color:#666;font-size:14px}
.tch .new_bj{background:#fc6f51;box-shadow:0 -2px 0 #ee4d4e inset}

/*.tch .new_bj:hover{background:#fc6f51;box-shadow:0 -2px 0 #fc6f51 inset}
*/
/*.tch .notice_width{width:708px;padding:10px 10px 0 10px;border:none}*/
.tch .notice_width li h4 a{width:716px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:inline-block; color:#19b8ff;}
.tch .notice_width li h4 a:hover{text-decoration:underline}
.tch .data{float:left;width:374px;height:110px;margin-top:16px}
.tch .data dt{width:110px;height:110px;overflow:hidden;float:left}
.tch .data dd{float:left;width:234px;margin-left:10px;display:inline;font-size:12px;color:#666;line-height:16px}
.tch .data dd h5{height:30px;line-height:30px;font-size:16px;color:#333}
.tch .data dd .btn{width:60px;height:20px;background-color:#57c077;text-align:center;line-height:20px;font-size:12px;color:#FFF;border-radius:4px;margin-top:10px}
.tch .centRight .centRightT{text-align:left;position:relative;top:20px}
.tch .centRight .centRightT h3{float:left;padding-top:14px;margin-bottom:10px}
.tch .centRight .centRightT .fr{position:absolute;top:14px;right:4px}

.add_del li{float:left}

/*教研组--教学计划*/
.plan_l{width:748px;overflow:hidden;padding:20px 0 30px 0px}
.plan_l .notice_list{padding-top:16px;padding-right:23px;border-bottom:#ccc dashed 1px;padding-bottom:20px}
.plan_l .notice_list li{color:#666;font-size:14px}
.plan_l .notice_list li dl {}
.plan_l .notice_list li h4{line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:496px}
.plan_l .notice_list li h4 a{color:#333;font-size:16px}
.plan_l .notice_list li h4 a:hover{text-decoration:underline}
.plan_l .notice_list li .new_bj{width:90px;height:30px;line-height:30px;font-size:14px;margin-top:14px}
.plan_l .notice_none{border-bottom:none}
.plan_l .minipage{margin-top:20px}

/*教研组--教学计划--详情*/
.details p{color:#666;font-size:14px;line-height:20px}
.details_width .notice_list{width:720px;padding:20px 10px;border:none}
.details_width .notice_list li{height:34px;line-height:34px}
.details_width .notice_list li a{float:left;width:500px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.details_width .notice_list li a:hover{text-decoration:underline}
.details_width .notice_list li em{float:right}

/*日记名称*/
.diary_text{padding:0 20px 20px 20px;border-bottom:#ccc dashed 1px}
.diary_text h4{text-align:center;color:#000;font-size:16px;padding-bottom:10px}
.diary_text p{text-indent:24px;line-height:24px;font-size:12px;color:#333}

/*日记的翻页*/
.details_page{height:34px;line-height:34px}
.details_page a{width:70px;display:inline-block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;color:#06c;vertical-align:middle}
.details_page .top{float:left}
.details_page .bottom{float:right;padding-right:20px}

/*教研资料*/
.data_title .data_tabMenu{position:absolute;top:0px;left:100px; *height:54px;}
.data_title .data_tabMenu li{float:left}
.data_title .data_tabMenu li a{display:block;*float:left;height:30px;padding:0 10px;line-height:30px;text-align:center}
.data_title .data_tabMenu li .ac{background:#19b8ff;color:#fff !important}

.data_list{margin-top:19px}
.data_list img{float:left;margin-left:-130px;width:110px;height:110px}
.data_list .data_vo_img{width:120px;height:90px}
.data_list li{float:left;padding-left:150px;margin-bottom:20px;font-size:12px;width:500px}
.data_list li h4{line-height:16px;margin-bottom:11px}
.data_list li p{line-height:18px}
.data_list li .playBtn{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-top:17px;width:80px;height:30px;background:#00cacf;color:#fff;line-height:0px;text-align:center}
.data_list li .lookBtn{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;margin-top:17px;width:80px;height:30px;background:#57c077;color:#fff;line-height:0px;text-align:center}

/*听课--评课*/
.hear .new_hearBtn{background:#896dcf;box-shadow:0 -2px 0 #663399 inset}
.hear .new_hearBtn:hover{background:#fc6f51;box-shadow:0 -2px 0 #fc6f51 inset}
.hear .class_B dd{line-height:26px;color:#333;font-size:12px}
.hear .class_B dd span{margin-right:10px}
.hear .class_B dd .click_btn{margin-left:10px;cursor:pointer}
.hear .class_B dd .click_btn b{background:url(../images/sprite.png) -5px -247px no-repeat;width:10px;height:6px;overflow:hidden;display:inline-block;vertical-align:middle;margin-left:4px}
.hear .class_B .look_over{width:500px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;cursor:pointer}

.tch_popo{position:relative;width:375px;border:#ddd solid 1px;display:none}
.tch_popo em{background:url(../images/sprite.png) no-repeat -22px -428px;width:15px;height:8px;display:inline-block;position:absolute;left:67px;top:-7px}
.tch_popo ul{background-color:#f4f4f4;padding:20px;padding-right:0}
.tch_popo ul li{float:left;height:25px;margin-right:26px}
.tch_popo .class_time{margin-bottom:20px}
.tch_popo .class_time .look_over{background-color:#000}

.class_time .blue{color:#3e7ed2}

/*资料详情,视频详情公用*/
.data_details h4{margin-top:25px;margin-left:46px;font-size:22px}
.data_details .data_keywords_list{margin-top:25px;margin-left:51px}
.data_details .data_keywords_list li{float:left;padding:0 9px;font-size:12px}
.data_details .data_keywords_list .data_source{padding:0 19px}
.data_details .data_keywords_list .data_source p{color:#06c;font-size:14px}
.data_details .data_introduce_list{margin-top:7px;margin-left:60px;margin-bottom:32px;width:928px;font-size:12px}
.data_details .data_introduce_list em{font-weight:bold}
.data_details .data_introduce_list li{margin-bottom:7px}
.data_details .data_introduce_list li .introduce_list{font-size:14px}
.data_details .data_introduce_list li .introduce_list dd{margin-left:32px;margin-top:3px;width:651px;line-height:20px}

/*资料详情私有*/
.details_d button{width:140px;height:40px;line-height:40px;background:#66cccc;font-size:14px;color:#fff}
.details_d button:hover{background:#fc6f51;box-shadow:0 -2px 0 #fc6f51 inset}
.details_d button span{margin-left:7px;color:red;font-weight:bold}
.details_d .readData_btn{margin-left:90px;margin-right:39px}

/*视频详情私有*/
.details_vo .classArrange{padding-top:5px}
.details_vo .classArrange p{width:350px}
.details_vo .class_list{width:576px}
.details_vo .class_list dt{float:left;margin-left:20px;margin-top:26px;margin-right:29px}
.details_vo .class_list dd{float:left;margin-top:11px;margin-bottom:17px;width:495px;line-height:20px}
.details_vo .class_list img{float:left;width:101px;height:73px;margin-right:16px}
.details_vo .class_list .dd_voName{margin-top:-5px}
.details_vo .class_list .download_btn{margin-left:-6px;width:108px;height:24px;background:#fff;line-height:12px;font-size:12px}
.details_vo .class_list .download_btn i{display:inline-block;margin-left:5px;margin-bottom:-1px;width:5px;height:8px;background:url(../images/jqueryUI/ui-icons_222222_256x240.png) -230px -36px}

/*上传讲义详情页*/
.diary_text2{border:none}

/*上传视频详情页*/
.video span{float:left;width:60px;font-size:12px}
.video .video_li{float:left;margin-right:10px}
.video .video_li li{width:120px;height:90px;margin:0 10px;float:left}
.video .video_ul{float:left}
.video .video_ul li{font-size:12px;color:#333}
.video .video_ul li em{font-size:14px;color:#333}
.video .video_ul li i{width:10px;height:10px;background:url(../images/sprite.png) no-repeat -175px -135px;display:inline-block;margin-left:10px}
.video .video_ul li a:hover{text-decoration:underline}
.video .video_mix{width:754px;height:567px;float:left;margin-top:48px}

/*教研组的手拉手用的班级手拉手列表---这里用的是学校-班级列表页*/
.class_listi .class_t{width:1078px;margin:0 auto;height:50px;line-height:50px;border-bottom:#ccc solid 1px;margin-top:16px}
.class_listi .class_t span{float:left;font-size:18px;color:#000;padding-left:4px}
.class_listi .class_t a{float:right;text-align:center}
.class_listi .class_list_min{width:1078px;margin:0 auto;overflow:hidden}
.class_listi .class_list_min .class_list_t{margin-top:11px}
.class_listi .class_list_min .class_list_t p{float:left}
.class_listi .class_list_min .class_list_t .classL .classify, .class_listi .class_list_min .class_list_t .classL label{display:inline-block;font-size:14px;color:#666;vertical-align:middle}
.class_listi .class_list_min .class_list_t .classL label input{margin-left:10px;margin-right:6px}
.class_listi .class_list_min .class_list_t .classR{margin-left:30px;*position:relative;*top:-1px;*left:0}
.class_listi .class_list_min .class_list_t .classR label{display:inline-block;font-size:14px;color:#666;vertical-align:middle}
.class_listi .class_list_min .class_list_t .classR .stext{margin-left:20px;display:inline-block;position:relative;*left:20px;*top:-4px;width:240px;height:30px;border:#CCC solid 1px;border-radius:4px}
.class_listi .class_list_min .class_list_t .classR .stext .text_Width{width:205px;height:28px;border:none}
.class_listi .class_list_min .class_list_t .classR .stext i{width:20px;height:20px;display:inline-block;vertical-align:middle;background:url(../images/sprite.png) no-repeat -209px -49px center}
.class_listi .class_list_min .class_list_t .classR .class_Btn{width:100px;height:30px;background-color:#fc6f51;margin-left:10px;*position:relative;*left:20px;*top:-4px;text-align:center;line-height:30px;font-size:14px;color:#FFF;border-radius:4px}
.class_listi .s_class_list{margin-top:18px;margin-right:-200px}
.class_listi .s_class_list .list{float:left;width:508px;margin-right:50px;margin-bottom:10px}
.class_listi .s_class_list .list dt{width:110px;height:160px;overflow:hidden;margin-right:10px;float:left}
.class_listi .s_class_list .list dt img{width:110px;height:110px}
.class_listi .s_class_list .list dd{float:left;width:378px;position:relative;line-height:24px;font-size:12px;color:#666}
.class_listi .s_class_list .list .hiddle{width:368px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.class_listi .s_class_list .list .dd_fz{height:30px;line-height:30px}
.class_listi .s_class_list .list .dd_fz h5{font-size:16px;color:#333;float:left;width:190px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.class_listi .s_class_list .list .dd_fz span{position:absolute;top:-2px;right:0px;margin-right:0px;font-size:0}
.class_listi .s_class_list .list .dd_fz span a{height:30px;line-height:30px;float:left;text-align:center;border-radius:4px;color:#FFF;font-size:12px}
.class_listi .s_class_list .list .dd_fz .addthis{width:70px;background-color:#63cfff;position:relative;right:-1px;border-top-right-radius:0px;border-bottom-right-radius:0}
.class_listi .s_class_list .list .dd_fz .applyFor{background-color:#19b8ff;width:100px;border-top-left-radius:0px;border-bottom-left-radius:0}
.class_listi .s_class_list .list dd span{margin-right:4px}
.class_listi .s_class_list .list dd em{margin-right:22px}
.class_listi .s_class_list .list dd em i{color:#999}
.class_listi .s_class_list .list .sRight span{margin-right:16px}

/*教研组的手拉手用的-班级手拉手列表这里用的是学校---考研组*/
.graduate_list{height:176px;width:1020px;border-bottom:#ccc dashed 1px;margin-bottom:12px}
.graduate_list dl{float:left;width:280px;overflow:hidden;margin-right:60px}
.graduate_list dl dt{height:32px}
.graduate_list dl dt h4{color:#333;font-size:16px}
.graduate_list dl dd{line-height:24px;height:24px;font-size:12px;color:#666}
.graduate_list dl dd span{margin-right:12px}
.graduate_list dl dd em{margin-left:4px}

/*教研组的手拉手用的-班级手拉手单独的样式*/
.class_listi h3{height:60px;width:300px;line-height:60px}
.class_listi .selProvince{position:absolute;top:20px;right:50px}
.class_listi .chagBtn{display:inline-block;text-align:center;margin-top:-10px}
.class_listi .headIn .list .dd_fz i{font-size:12px;color:#ee4d4e}
.class_listi .headIn .list .dd_fz h3{width:158px}
.class_listi .headIn .list .dd_fz span{/*三种状态*/ }
.class_listi .headIn .list .dd_fz span .applyFor{float:none;width:70px;border-radius:4px;height:30px;line-height:30px;text-align:center;background-color:#19b8ff;font-size:12px;color:#FFF;display:inline-block}
.class_listi .headIn .list .dd_fz span .handle{float:none;width:110px;border-radius:4px;height:30px;line-height:30px;text-align:center;background-color:#19b8ff;font-size:12px;color:#FFF;display:inline-block}
.class_listi .headIn .list .dd_fz span .refuse{float:none;width:110px;border-radius:4px;height:30px;line-height:30px;text-align:center;background-color:#19b8ff;font-size:12px;color:#FFF;display:inline-block}
.class_listi .headIn .list .dd_fz span .send_out{float:none;width:110px;border-radius:4px;height:30px;line-height:30px;text-align:center;background-color:#19b8ff;font-size:12px;color:#FFF;display:inline-block}


/*修改样式--首页新添加样式*/
.notice .noticeH{ border-bottom:none;}
.class_c .centLeft .data_title{ clear:both;}
.class_c .centLeft .data_title h3{ float:left;}
.class_c .centLeft .btnBar{ float:right; position:relative; top:-2px;}



