@charset "utf-8";
/*sanhaiUI*/
@import "sUI.css";

/*reset*/
html{height:100%}
body,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,blockquote,object,iframe,fieldset,input,legend,form,th,td{margin:0;padding:0}
body,input,textarea,keygen,select,button,isindex,pre,a{font:14px/24px Verdana,"\5FAE\8F6F\96C5\9ED1";color:#333;word-break:break-all;word-wrap:break-word; text-align:justify}

pre{white-space:normal}
ul,ol,li{list-style:none}
img{border:none}
a{text-decoration:none}
i,b,em{font-style:normal;font-weight:normal}
i{display:inline-block;height:16px;line-height:16px;width:16px;vertical-align:middle}/*i作为图标专用标签*/

/*按钮*/
button,.btn{display:inline-block;border:none 0;cursor:pointer;background-color:#ccc;color:#fff;height:30px;line-height:30px; padding:0 20px; *padding:0 6px;border-radius:1px;text-align:center;vertical-align:middle;transition:box-shadow .2s;}
button:hover,.btn:hover{background-color:#7bccff;text-decoration:none;color:#fff;box-shadow:1px 1px 1px 1px #ccc}
button:active,.btn:active{background:#ccc;color:#fff}
.btn40{height:40px;line-height:40px;font-size:16px}
.btn26{height:26px;line-height:26px;font-size:12px}

/*按钮图标*/
button i,.btn i{ display:inline-block; vertical-align:middle; height:16px;width:16px; line-height:30px; background:url(../images/ico.png);margin-top:2px; margin-right:5px;*margin:6px 0;/*IE6所属line-height-自身高度)/2px*/}
.icoBtn_msg i{background-position:-20px -520px;}/*信息 信封*/
.icoBtn_edit i{background-position:-60px -520px;}/*铅笔 编辑*/
.icoBtn_del i{background-position:-100px -520px;}/*删除 垃圾桶*/
.icoBtn_ok i{background-position:-140px -520px;}/*对勾 ok*/
.icoBtn_close i{background-position:-180px -520px;}/*叉子 关闭*/
.icoBtn_add i{background-position:-220px -520px;*background-position:-220px -517px}/*加号*/




/*表单*/
input,select,label{vertical-align:middle;}
input:focus,textarea:focus,button:focus,a:focus,li:focus,select:focus,label:focus{outline:none}    
.text{border:1px solid #ddd;background-color:#fff;height:20px;padding:7px 5px;*height:22px;*padding:5px 5px}
.radio{vertical-align:-2px;*vertical-align:-1px;border:none 0;border-top-width:0;}
.radio,.checkbox,select{margin-right:3px}
select{border:1px solid #ddd;padding:7px 5px;width:100px}
textarea{resize:none;vertical-align:top;border:1px solid #ddd;padding:5px;overflow:auto}

/*分割线*/
hr{height:0;border:none 0;border-top:1px solid #ddd;border-bottom:1px solid #fff;*height:2px;clear:both; margin:20px 0}
.dashde{border-top:1px dashed #ddd}


/*表格*/
table{border-collapse:collapse;border-spacing:0}
td{padding:3px 5px}
th{font-weight:normal}
.trOver{background:#d1edff}
.addBorder,.addBorder td,.addBorder th{border:1px solid #aaa}
.noBorder{border:none 0 !important}

/*布局*/
.fl{float:left}
.fr{float:right}
.clearBoth{clear:both}
.mc{margin:0 auto}
.pr{position:relative;*zoom:1}
.pa{position:absolute}
.fixed{position:fixed !important;top:0;margin-top:0 !important}
#html .hide,#html .pop,.hide,.pop{display:none}
.pd20{ padding:20px}
.pd25{ padding:25px}



/*文本*/
h1,h2,h3,h4,h5,h6{font-weight:normal}
h1{font-size:24px}h2{font-size:20px}h3{font-size:18px}h4{font-size:16px}h5{font-size:14px}h6{font-size:14px}
.tc{text-align:center !important}
.tl{text-align:left !important}
.tr{text-align:right !important}
.font12{font-size:12px !important}
.font14{font-size:14px !important}
.font16{font-size:16px !important}
.font18{font-size:18px !important}
.font20{font-size:20px !important}
.font30{font-size:30px !important}
.hideText{text-align:left !important;text-indent:-9999px;overflow:hidden}
.underline{text-decoration:underline !important}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}


.clearfix:before,.clearfix:after{content:"";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after,.cont24:after{clear:both}
.clearfix,.cont24{zoom:1}

/*文字颜色*/
.red{color:red !important}/*大红色*/
.green{color:#76b852 !important}/*绿色*/
.green_l{color:#c4e477 !important}/*浅绿色*/
.blue_d{color:#0098f0 !important}/*深蓝*/
.blue{color:#4aacf3 !important}/*蓝*/
.blue_l{color:#98d7ff !important}/*浅蓝色*/
.blue_l_l{color:#718898 !important}
.blue_l_gray{color:#e7f0f6 !important}/*浅蓝灰色*/
.gray{color:#ccc !important}/*灰色*/
.gray_l{color:#dcdcdc !important}/*浅灰色*/
.gray_d{color:#999 !important}/*深灰色*/
.gray_555{color:#555 !important}
.gray_777{color:#555 !important}
.gray_hd{color:#333 !important}/*最深灰色*/
.white{color:#fff !important}/*白色*/
.orange{color:#ff8000 !important}  /*深橙色*/
.orange_l{color:#fcb314 !important}  /*橙色*/
.orange_d{color:#ffd900 !important}  /*浅橙色*/
.highlight {color:red !important}/*高亮*/

/*背景颜色*/
.bg_red{background-color:red !important}
.bg_green{background-color:#6cd685 !important}
.bg_green:hover{background-color:#1ed248 !important}
.bg_blue{background-color:#4ebbff !important;color:#fff !important}/*蓝*/
.bg_blue_l_gray{background-color:#e7f0f6 !important;color:#999 !important}/*淡蓝灰*/
.bg_blue_l{background-color:#d1edff !important;color:#555 !important}/*浅蓝*/
.bg_blue_l:hover{background-color:#4ebbff !important;color:#fff !important}
.bg_blue_d{background-color:#0098f0 !important}/*深蓝*/
.bg_gray{background-color:#ccc !important}
.bg_gray_l{background-color:#ddd !important}
.bg_gray_d{background-color:#999 !important}
.bg_orenge{background-color:#ff8000 !important}
.bg_white{background-color:#fff !important}
.noBg{background:none !important}

/*返回顶部按钮*/
.backTop{position:fixed;right:0;bottom:50px;width:50px;height:50px;text-indent:-999px;overflow:hidden;background:url(../images/new_sprite.png) no-repeat;background-position:-15px -177px;opacity:0.6;filter:Alpha(opacity=60);cursor:pointer}
.backTop:hover{opacity:1;filter:Alpha(opacity=100)}


/*意见反馈*/
.feedback{ height:50px; width:50px; background:url(../images/new_sprite.png) no-repeat 0 -640px; position:fixed; bottom:100px; right:0; }
.feedback:hover{ background-position:0 -690px}

/*每日签到*/
.signIn{height:50px; width:50px; background:url(../images/new_sprite.png) no-repeat -50px -640px; position:fixed; bottom:150px; right:0; cursor:pointer}
.signIn:hover{ background-position:-50px -690px}
.signIn_on,.signIn_on:hover{ background-position:-100px -640px; cursor:auto}


/*QQ在线客服*/
.QQonlineServ{ position:fixed; left:-150px; top:80px; width:150px; background:url(../images/QQ.png) no-repeat 0 -30px #faf8f8; padding:70px 0 20px; z-index:100; box-shadow:2px 2px 2px #999}
.QQonlineServ a{ display:block; height:30px; line-height:30px; text-align:center; width:100px; background:url(../images/QQ.png); margin:0 auto 20px; font-size:12px; color:#666}
.QQonlineServ .QQhand{ position:absolute; height:110px; width:30px;left:150px; top:0;background:url(../images/QQ.png) -150px -30px;}
.QQonlineServShow .QQhand{ opacity:0;filter:Alpha(opacity=0); cursor: default}


/*课件大赛链接*/
.game_subject_link{ position:fixed; z-index:100; top:60px; width:14px; height:310px; right:0; background:url(../images/banner_v_bg.png); line-height:16px; text-align:center; padding:90px 10px 0 50px;}
.game_subject_link span{ color:#fff !important;}
.game_subject_link:hover span{ color:#F8F254 !important;}

/*empty内容为空<div class="empty"><i></i>空空如也 >_<</div>*/
.empty{margin:0 auto;text-align:center;font-size:18px;color:#ccc;padding:40px}
.empty i{height:25px;width:25px;background:url(../images/ico.png) no-repeat -128px -1168px;margin-right:10px}

/*分页*/
.page{text-align:right;clear:both;margin-top:10px;margin-right:-10px}
.page span,.page a{color:#666 !important;margin:0;padding:0 11px}
.page a{display:inline-block;margin-right:10px;height:30px;line-height:30px;vertical-align:middle;color:#999;border:1px solid #ccc;text-align:center}
.page .jumpBtn{width:30px;padding:0;background:url(../images/ico.png);text-indent:50px;overflow:hidden}
.page .next{background-position:-6px -45px}
.page .next:hover{background-position:-46px -45px;background-color:#4ebbff;animation:next .4s}
@keyframes next {0{background-position:-49px -45px}50%{background-position:-43px -45px}100%{background-position:-46px -45px}}
.page .prev{background-position:-6px -85px}
.page .prev:hover{background-position:-46px -85px;background-color:#4ebbff;animation:prev .4s}
@keyframes prev {0{background-position:-43px -85px}50%{background-position:-49px -85px}100%{background-position:-46px -85px}}
.page span{display:inline-block;margin-right:2px;padding:3px 5px;vertical-align:middle;font-size:12px}
.page a:hover,.page .current{background-color:#4ebbff;color:#FFF !important;height:32px;border-color:#4ebbff}
.page .jumpInp{width:40px;height:30px;text-align:center}


/*二栏布局*/
body{min-width:1200px; background:#f5f5f5}
.col1200{margin-left:auto;margin-right:auto;width:1200px;clear:both}
.col260,.col910{float:left;margin-left:15px;margin-right:15px;_display:inline; background:#fff}
.container{width:100%}
.col260{width:260px}
.col910{width:910px}
.alpha{margin-left:0}.omega{margin-right:0}
.clearfix:before,.clearfix:after{content:"";display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clearfix:after,.col1200:after{clear:both}
.clearfix,.col1200{zoom:1}


/*主题*/
.classes_theme1{background-image:url(../images/theme/theme02.jpg); background-position: center top; background-repeat: no-repeat;}

/**/
.headWrap{ background:#11ADE6}
.head{ height:80px}
.main{ position:relative;}
.aside,.container{ background:#fff; min-height:300px; margin-top:18px}
.foot{ margin-top:18px}

/*头部布局*/
.head{height:60px;}
.head h1{float:left;text-align:left;text-indent:-999px;overflow:hidden;width:120px;height:60px;background:url(../images/new_sprite.png) -120px -320px;margin-left:10px }
.head .head_nav{height:60px;float:left}
.head .head_nav li{float:left;position:relative}
.head .head_nav li a{display:block;height:60px;line-height:60px;color:#fff !important;font-size:16px;text-align:center;width:90px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

.head .head_nav li .ac,.head .head_nav li .ac:hover{background:#077EA9;color:#fff !important}
.head .head_nav li .ac.has_subMenu{}
.head .head_nav li .ac.has_subMenu i{background:url(../images/ico.png) no-repeat 47px -997px #2fa5f4;color:#fff !important}
.head .head_nav li .has_subMenu i{background:url(../images/ico.png) no-repeat -18px -807px;text-indent:-8px；width:9px;height: 5px;}
.head .head_nav li .subMenu{position:absolute;background:#fff;top:60px;left:-1px;z-index:10;border:1px solid #ddd}
.head .head_nav li .subMenu li dl{border-bottom:1px solid #ddd}
.head .head_nav li .subMenu li dt{text-indent:18px;height:30px;line-height:30px;background:url(../images/ico.png) no-repeat -129px -2086px;color:#000}
.head .head_nav li .subMenu li dt .editLink{width:20px;height:20px;background:url(../images/ico.png) -50px -330px;position:absolute;top:5px;right:5px;border:none}
.head .head_nav li .subMenu li dt .editLink:hover{background:url(../images/ico.png) -90px -250px}
.head .head_nav li .subMenu .hand_in_hand_classes_list i{width:20px;background:url(../images/ico.png) no-repeat -90px -2013px;position:absolute;top:5px;right:8px}
.head .head_nav li .subMenu li dd{position:relative}
.head .head_nav li .subMenu li dd a{text-indent:20px;height:30px;width:139px;*width:150px;background:#fff;line-height:30px;font-size:14px;padding-right:30px;*padding-right:50px;text-align:left;border:none;color:#666}
.head .head_nav li .subMenu li a:hover{background:#d1edff;color:#fff}
.head .userCenter{height:60px;line-height:60px;float:right; position:relative;} 
.head .userCenter .cutLine{height:0;line-height:0;border-top:1px solid #4a5661;border-bottom:1px solid #778791;font-size:0;background:#5e6c74;*display:none}
.head .userCenter .userChannel{height:60px;float:left;text-align:center;width:120px;margin-right:10px;position:relative}
.head .userCenter .userName{color:#fff;display:block;line-height: 60px}
.head .userCenter .userName img{width: 40px;height: 40px;border-radius: 50%;margin-right: 10px;}
.head .userCenter .userName i{background:url(../images/ico.png) no-repeat -25px -807px;text-indent:-8px；width:9px;height: 5px;}

.head .userCenter .userChannelList .classesList .arrow{width:12px;height:5px;background-position:-134px -1107px;top:-5px;left:17px}
.head .userCenter .userChannelList .classesList a{width:120px;background:#6d808a;font-size:12px;text-indent:10px;display:block;*text-indent:0}
.head .userCenter .logOff{float:left;height:60px;line-height: 60px;}
.head .userCenter .msgAlert{float:left;margin:0 10px;position:relative}
.head .userCenter .msgAlert_hover{background-color:#5e6c74 !important}
.head .userCenter .msgAlert a{display:block;height:60px;width:60px;padding-left:30px;background:url(../images/ico.png) no-repeat -20px -520px;line-height: 60px;color: #fff}
.head .userCenter .hasMsg a{background-position: -15px -539px}
.head .userCenter .hasMsg i{background:url(../images/ico.png) no-repeat -20px -520px;width: 17px;height: 14px;}
.head .userCenter .msgAlert a:hover,.head .userCenter .msgAlert_hover{background-position: -21px -563px !important;background-color:#5e6c74;color:#fff !important}
.head .userCenter .hasMsg a:hover,.head .userCenter .hasMsg .msgAlert_hover{background-position: -15px -539px !important;color:#fff !important}
.head .userCenter .msgAlert .arrow{background-position:-130px -1090px;left:18px;top:0;z-index:100}
.head .userCenter .msgAlert .msgList{width:140px;position:absolute;top:50px;left:-10px;z-index:300;padding-top:10px}
.head .userCenter .msgAlert .msgList li{line-height:37px;*width:140px;*float:left;*height:37px;background:#5e6c74}
.head .userCenter .msgAlert .msgList li a{display:inline-block;background:#5e6c74;width:120px;padding:0 10px;margin:0;height:37px;color:#fff;line-height:37px;zoom:1}
.head .userCenter .msgAlert .msgList li a:hover{background-color:#8094a0}
.head .userCenter .msgAlert .msgList .sendBar{text-align:center;height:81px;background:#5e6c74;border-bottom:1px solid #778791}
.head .userCenter .msgAlert .msgList .sendBar a{line-height:24px;height:65px;color:#66CCFF;font-size:12px;text-align:center;padding:15px 0 0 0;width:67px;*width:66px}
.head .userCenter .msgAlert .msgList .sendBar a i{display:inline-block;width:40px;height:33px;background:url(../images/ico.png) no-repeat}
.head .userCenter .msgAlert .msgList .sendBar a:hover{background:none;color:#c0e6ff !important}
.head .userCenter .msgAlert .msgList .sendBar .sendMsg i{background-position:0 -1722px}
.head .userCenter .msgAlert .msgList .sendBar .sendMsg:hover i{background-position:-40px -1722px}
.head .userCenter .msgAlert .msgList .sendBar .sendLetter i{background-position:-82px -1722px}
.head .userCenter .msgAlert .msgList .sendBar .sendLetter:hover i{background-position:-122px -1722px}










